:root {
  --navigation-back-color: #fdfdfd;
  --main-back-color: #fafafa;
  --almost-black: #404040;
  --almost-white: #f7f7f7;
  --greenish: #728c7f;
  --blueish: #3e5a71;
  --nav-hover: #3e5a711e;
}
